.authentication-page {
    background-color: var(--black);
    display: flex;
    height: 100vh;
}

.authentication-page .confirm-email {
    color: white;
    background-color: var(--darkBlue);
    margin: auto;
    text-align: center;
    font-size: 18px;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
}

.authentication-page h3 {
    width: 40%;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 15%;
}

.authentication-form {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-left: auto;
    display: flex;
    gap: 10px;
    background-color: var(--coolWhite);
    flex-direction: column;
    padding: 50px 60px 50px 60px;
    height: 100vh;
    overflow-y: auto;
}

.authentication-form h1 {
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.authentication-form h1 a {
    align-self: flex-end;
}

.authentication-form p.valid {
    color: var(--green);
}

.authentication-form p.invalid {
    color: var(--red);
}

.authentication-form .password-rules {
    padding: 10px;
}

.authentication-form button {
    background-color: var(--blue);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: 500;
    border: 3px solid var(--blue);
    transition: 0.3s;
    cursor: pointer;
    margin-top: 30px;
}

.authentication-form button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.authentication-page .forgot-password-btn {
    cursor: pointer;
    width: 145px;
}

.authentication-page .forgot-password-btn:hover {
    font-weight: 600;
}

.forgot-password-modal {
    background-color: var(--coolWhite);
    min-height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    width: 500px;
    height: 250px;
    min-width: 500px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    margin-top: 50px;
}

.authentication-page .google-auth {
    border-radius: 2px;
    padding: 1px;
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 250px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}

.authentication-page .google-auth {
    color: white;
    background-color: var(--blue);
    margin-top: 25px;
}

.authentication-page .google-auth img {
    height: 42px;
    width: 42px;
    padding: 0px;
    margin: 0px;
    margin-left: 3px;
    outline: 2px solid var(--coolWhite);
    background-color: var(--coolWhite);
}

.authentication-page .google-auth p {
    margin-left: 20px;
}

.authentication-page .google-auth:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}