.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    overflow: auto;
}

.chat-message-count {
    position: absolute;
    left: calc(100% - 45px);
    top: 65px;
    color: var(--black);
}

.chat-room {
    background-color: var(--black);
    width: 75%;
    min-height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 600px;
    overflow: auto;
    border-radius: 10px;
    height: 75%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    margin-top: 50px;
    border: 1px solid var(--mediumDarkGrey);
}

.chat-room .messages {
    border: 1px solid var(--mediumDarkGrey);
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
}

.chat-room .messages .sent-by-other {
    background-color: var(--transparentOrange);
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    margin: 5px;
    color: var(--coolWhite);
}

.chat-room .messages .sent-by-self {
    background-color: rgba(0, 200, 255, 0.15);
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    text-align: right;
    margin: 5px;
    color: var(--coolWhite);
}

.chat-room .send-text {
    display: flex;
    padding: 10px;
    width: 100%;
    gap: 5px;
    align-items: center;
}

.chat-room .send-text label {
    color: var(--mediumGrey);
}

.chat-room .send-text input:focus {
    outline-color: var(--blue);
}
