.draft-header {
    background-color: var(--lightOrange);
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.draft-header .chat-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
}

.draft-header .chat-icon:hover {
    opacity: 0.8;
}