.translucent-btn {
    width: 100%px;
    background-color: var(--transparentOrange);
    font-weight: 500;
    color: var(--brightOrange);
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.translucent-btn:hover {
    background-color: rgb(255, 165, 95);
    color: var(--black);
}